.modal__content_type_delete {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.modal__delete__header {
  font-size: 20px;
  margin: 0 auto;
  width: 367px;
}

.modal__delete__btns {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 24px;
  font-family: "Cabinet-Grotesk", arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__delete__btn {
  border: none;
  background-color: transparent;
}

.modal__delete__btn:hover {
  cursor: pointer;
}

.modal__delete__btn_type_delete {
  color: #ff4d00;
}
