.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  overflow: hidden;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  width: 49px;
  font-family: "Cabinet-Grotesk", arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 12px;
  color: rgba(0, 0, 0, 0.6);
}

.card__image {
  width: 100%;
}
