.modal__content_type_image {
  overflow: hidden;
  max-height: 610px;
  padding: 0;
}

.modal__close_type_image {
  background: transparent url("../../assets/close-white.svg") center no-repeat;
}

.modal__image {
  width: 100%;
  height: 498px;
}

.modal__footer {
  margin: 20px 0 32px 32px;
}
